@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
  

*{
  margin: 0%;
  padding: 0%;
  font-family: 'Raleway', sans-serif;
}
body{
  background:#100b0b95;
}
.layout{
  display: grid;
  grid-template-areas: 
  "head head head head"
  "nav nav nav nav"
  "nav_lat cont cont cont"
  "foot foot foot foot";
  grid-template-rows: 150px auto auto 150px;

}

/*header*/
.header{
  grid-area: head;
  background:#100b0b;
  text-align: center;
  padding-top: 50px;
  color: orangered;
}

/*nav*/
.navMob{
  display: none;
  text-align: center;
  
}

.navMob ul{
  display: flex;
  flex-direction: column;
  
}
.navMob li{
  
  margin-top: 20px;
}

.nav{
  grid-area: nav;
  background:rgb(223, 59, 0);
  font-weight: bolder;
}
.nav ul{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.nav li{
  list-style: none;
  text-transform: uppercase;
  margin-left: 100px;
  margin-right: 100px;
  transition: all 300ms;
}
.nav a{
  text-decoration: none;
  color: black;
}
.nav li:hover{
  transform: scale(1.6);
  cursor: pointer;
}
.bar{
  width: 20px;
  display: none;

}

/*contenido*/
.content{
  grid-area: cont;
  background:#100b0b;
  color: white;
  text-align: center;
  padding: 20px;
}
.content h2{
  color: orangered;
  padding-top: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
/*content trabajo*/
.proyecto p{
  color: orangered;
  padding: 10px;
}
.proyecto li{
  list-style: none;
}
.trabajo{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap:20px
}
.trabajo img{
  width: 200px;
  
  border-radius: 20px;
}
/*content educacion*/
.educacion_content{
  display: flex;
  justify-content: center;
  gap:20px
}
.educacion{
  
  color: black;
  padding: 20px;
  border-radius: 20px;
  width: 200px;
  margin: 20px;
}
.educacion h3{
  color: orangered;
}
.educacion li{
  list-style: none;
  margin: 5px;
  color: rgb(255, 255, 255);
}
/*content Conocimientos*/
.contenido_de_contenido{
  background: rgb(255, 255, 255);
  border-radius: 20px;

}
.logos{
  width: 200px;
  margin: 20px;
}
.logo_trio{
  width: 500px;
}
.logo_react{
  width:160px ;
}


/*lateral-nav*/
.lateral-nav{
  grid-area: nav_lat;
  background: #100b0b;
  text-align: center;
}
.lateral-conte h2{
  padding-bottom: 26px;
  color: orangered;
}
.lateral-conte{
  margin: 20px;
  padding: 20px;
  padding-top: 50px;
  color: white;
  border-radius: 20px;
  min-height: 150px;
  max-width: 400px;
}

.lateral-nav img{
  border-radius: 50%;
  width: 200px;
}

/*footer*/
.footer{
  grid-area: foot;
  background:rgb(223, 59, 0);
  color: white;
  text-align: center;
  text-transform: uppercase;
  min-height: 220px;
  
}
.footer h3{
  padding: 20px;
}
.footer li{
  list-style: none;
  font-weight: bolder;
}
.footer a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  
  
}
.contacto_foter{
  margin-left: 50px;
  margin-right:50px ;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width:1200px) {
    
}
@media screen and (max-width:992px) {
  .lateral-conte{
    margin-left: 80px;
  }
  
}
@media screen and (max-width:778px) {
  
  .trabajo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:20px
  }
  .trabajo img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
  }
  .contenido_de_contenido img{
    width: 100px;
  }
  .contenido_de_contenido .logo_react{
    width: 60px;
  }
  .contenido_de_contenido .logo_trio{
    width: 190px;
  }
  .contacto_foter{
    margin-left: 50px;
    margin-right:50px ;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .lateral-conte{
    margin-left: 50px;
  }
  
  
}
@media screen and (max-width:600px) {
  
  .trabajo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap:20px
  }
  .trabajo img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
  }
  .layout{
    display: flex;
    flex-direction: column;
  }
  .navee{
    display: none;
  }
  .navMob{
    display: block;
  }
  .header{
    padding-bottom: 40px;
  }
  .bar{
    display: block;
    margin-bottom: 20px;
  }
  
}
@media screen and (max-width:380px) {
  .educacion_content{
    display: flex;
    flex-direction: column;
  }
  .bar{
    display: block; 
    margin-right: 120px;
    margin-bottom: 20px;
  }
}